.bookingLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 70px;
}

.booking {
    background-color: white;
    width: 200px;
    padding: 1em;
    text-align: center;
    border-style: none;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.bookingLink {
    font-family: "Poppins", serif;
    font-weight: bold;
    color: #173d1a;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .bookingLinkContainer {
        justify-content: flex-end;
        right: 20px;
    }
}