@use "./variables" as v;
@use "./mixins" as m;

footer {
    display: flex;
    color: v.$secondary-color;
    background-color: v.$primary-color;

    .footer-container {
        padding: 2em;
        margin-left: 1em;

        @include m.forDesktop(desktop) {
            margin-left: 3em;
        }
    }

    .info-column-box {
        display: grid;
        grid-template-columns: auto;
        gap: 3em;

        @include m.forDesktop(desktop) {
            grid-template-columns: auto auto auto;
            gap: 10em;
        }
    }

    .info-column {
        display: flex;
        flex-direction: column;
        font-family: v.$primary-font-family;
        font-weight: 300;

        .the-label {
            font-family: v.$secondary-font-family;
            color: v.$secondary-color;
        }

        h4 {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-block-end: 5px;

            @include m.forDesktop(desktop) {
                margin-block-start: 1em;
            }
        }

        p {
            margin-block-end: 5px;
        }

        a {
            color: v.$secondary-color;
            text-decoration: none;
            margin-block-end: 5px;
        }

        .restaurant-address {
            margin-bottom: 1em;
        }

        &:last-child {
            margin-block-end: 5em;
        }
    }
}